@tailwind base;
@tailwind components;
@tailwind utilities;

.no-vertical-scroll {
  overflow-y: hidden;
  height: 94vh;
}

.ant-message {
  margin-top: 4em;
}

main {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

form label {
  text-transform: capitalize;
  padding-bottom: 0.6em;
  font-weight: 500;
}

.ant-table {
  box-shadow: #0000007a 2px 2px 10px 25px;
}

.ant-btn {
  color: rgb(255, 255, 255);
  background-color: #01a4f1;
  border: none;
  font-size: 14px;
}

.ant-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.billModal,
.editModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 70vw;
}

.action-button {
  margin: auto;
  padding: 5px 30px 5px 30px;
  color: rgb(255, 255, 255);
}

.ant-table-thead > tr > th {
  font-size: 1.5em;
}

.product-select-wrapper {
  display: inline-flex;
}

.backB {
  /* backbutton in form */
  font-size: 2em;
  color: #47575f;
}

.ant-form {
  min-width: 16vw;
  min-height: 68vh;
  background-color: rgb(228, 228, 228);
  padding: 2em;
  padding-top: 4em;
  border-radius: 1em;
  max-height: 89vh;
  overflow-y: auto;
  box-shadow: #00000073 2px 2px 10px 25px;
}

#create-new-product-form {
  justify-content: center;
  margin-left: 33%;
  background-color: rgba(255, 255, 255, 0.711);
}

#select-products-component {
  /* products insert COMPONENT not product input form!   */
  /* display: block;
  padding-top: 1em;
  margin-bottom: 2em;
  padding: 3em; */
  /* border-radius: 1em;
  box-shadow: rgba(10, 10, 10, 0.678) 0px 0px 15px; */
  background-color: rgba(228, 228, 228, 0.958);
}
.productEditModal {
  display: block;
  min-width: 25vw;
}

.product {
  background-color: rgba(159, 35, 103, 0.119);
}

/* .contact {
  background-color: rgba(4, 4, 4, 0.132);
} */

/* laeve it for color only  */
/* .task {
  background-color: rgba(63, 63, 62, 0.366);
} */

.bill {
  background-color: rgba(55, 140, 179, 0.164);
}

#musterija-form {
  background-color: rgba(228, 228, 228, 0.958);
  font-style: oblique;
  font-size: large;
}

#task-form {
  background-color: rgba(228, 228, 228, 0.958);
  font-style: oblique;
  font-size: large;
}

/* DO NOT TOUCH THIS BLOCK */

#search-container {
  border: none;
  display: block;

  /* border-radius: 2em; */
}

#search {
  border: none;
  box-shadow: #ffffffc9 2px 2px 10px 10px;
  margin-left: 7%;
  width: 86%;
  padding: 0.7em;
  margin-top: 2em;
  text-align: center;
}

.ant-input-search-button {
  display: none;
}

.header-title {
  width: 0;
  font-weight: 900;
  color: rgb(120, 187, 221);
  font-size: clamp(2rem, 2vw, 2rem);
  white-space: nowrap;
  word-break: break-all;
}

.action-button {
  box-shadow: #1e1c1cc9 2px 2px 10px 10px;
  background-color: #081a2aa4;
  padding-inline: 3em;
  padding: 1.5em;
  border: 10px;
}
.ant-message {
  top: 20px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%); /* Center horizontally */
}

Button {
  color: rgba(10, 10, 10, 0.678);
  background-color: bisque;
  box-shadow: #8a8484c9 2px 2px 2px 2px;
  background-color: #081a2aa4;
  padding-inline: 3em;
  padding: 1.5em;
  border: 10px;
}
Button:hover {
  color: black;
  background-color: bisque;
  box-shadow: #8a8484c9 2px 2px 2px 2px;
  background-color: #081a2aa4;
  /* padding-inline: 3em;
  padding: 1.5em; */
  border: 10px;
}
.ant-select-dropdown {
  box-shadow: #8a8484c9 2px 2px 2px 2px;
  width: 14em;
  padding-inline: 10em;
  padding: 1.5em;
  border: 10px;
  margin: 20em;
}
