@tailwind base;
@tailwind components;
@tailwind utilities;

/* .no-vertical-scroll {
  overflow-y: hidden;
  height: 94vh;
} */

#tableContainer {
  background-color: rgba(170, 170, 170, 0.068);
  padding: 2em;
  border-radius: 0.1em;
  /* background-color: #01a5f11e; */
  box-shadow: #3380a777 0px 0px 10px;
}
.ant-btn {
  color: rgb(255, 255, 255);
  background-color: #01a4f1;
  border: none;
  font-size: 14px;
}

.ant-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.billModal,
.editModal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.action-button {
  margin: auto;
  padding: 5px 30px 5px 30px;
  color: rgb(255, 255, 255);
}

.backB {
  font-size: 2em;
}

.ant-form {
  height: auto;
  min-width: 20vw;
  background-color: rgba(55, 140, 179, 0.164);
  margin: 0 auto;
  padding: 2em;
  border-radius: 10px;
  border-color: rgb(139, 66, 66);
  border-style: solid;
  border-width: 1px;
  /* max-height: 89vh; */
  overflow-y: auto;
}

#product-form {
  width: 30vw;
  margin-top: 4em;
  padding-inline-start: 1em;
  padding-top: 2em;
  margin-bottom: 1em;
  box-shadow: rgba(159, 35, 103, 0.678) 0px 0px 15px;
  background-color: rgba(159, 35, 103, 0.119);
}

.product {
  background-color: rgba(159, 35, 103, 0.119);
}

#musterija-form {
  background-color: rgba(159, 107, 35, 0.119);
  border-color: rgb(139, 66, 66);
  border-width: 1px;
  border-style: solid;
  font-style: oblique;
  font-size: large;
}

#task-form {
  background-color: rgba(62, 220, 23, 0.119);
  border-color: rgb(139, 66, 66);
  border-width: 1px;
  border-style: solid;
  font-style: oblique;
  font-size: large;
}

.ant-input-search {
  display: flex;
  padding: 1vh;
  padding-inline: 3vh;
}

/* DO NOT TOUCH THIS BLOCK */

#search-container {
  display: block;
  border-radius: 2em;
}

#search {
  background-color: #cccccc15;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  border-radius: 2em;
  text-align: center;
  border-color: rgb(139, 66, 66);
  border-width: 2px;
  border-style: solid;
  font-style: oblique;
  font-size: large;
}

.ant-input-search-button {
  background-color: #0b131b2c;
  border-color: rgb(139, 66, 66);
  border-width: 2px;
  border-style: solid;
  font-style: oblique;
  font-size: large;
  margin-left: 0.3em;
  margin-bottom: 0.4em;
}

.header-title {
  color: rgb(120, 187, 221);
  font-size: clamp(2rem, 2vw, 2rem);
  padding-right: 50px;
  white-space: nowrap;
  word-break: break-all;
}

.action-button {
  box-shadow: #1297da 0px 0px 10px;

  background-color: #0c62b3a4;
  /* border: #00448380 2px solid; */
}

.ant-table-row-expand-icon-cell {
  font-size: larger;
}

.ant-table-row-expand-icon-cell {
  font-size: larger;
}
